<h2>用户钱包信息</h2>
<hr />
<p>请确保用户simplewallet服务已经开启!</p>
<form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="yu_e" class="col-sm-2 control-label">dnc钱包服务器:</label>
    <div class="col-sm-4">
      <input type="text" ng-model="host" class="form-control" placeholder="域名或者IP+端口"/>
    </div>
  </div>
  <div class="form-group">
    <label for="yu_e" class="col-sm-2 control-label">余额:</label>
    <div class="col-sm-4">
      <input type="text" ng-model="balance" class="form-control" readonly="true"/>
    </div>
    <button type="btn-primary" class="btn btn-primary" ng-click="getBalance()" >查看</button>
  </div>
  <div class="form-group">
    <label for="yu_e" class="col-sm-2 control-label">payment_id:</label>
    <div class="col-sm-4">
      <input type="text" ng-model="payment_id" class="form-control" readonly="true"/>
    </div>
    <button type="btn-primary" class="btn btn-primary" ng-click="getPaymentId()" >从交易所端获取</button>
  </div>
  <div class="form-group">
    <label for="yu_e" class="col-sm-2 control-label">充值目的地址:</label>
    <div class="col-sm-4">
      <input type="text" ng-model="ex_address" class="form-control"/>
    </div>
  </div>
  <div class="form-group">
    <label for="total_block" class="col-sm-2 control-label">充值:</label>
    <div class="col-sm-4">
      <input type="text" ng-model="in_amount" class="form-control"/>
    </div>
    <button type="btn-primary" class="btn btn-primary" ng-click="inPut()" >充值</button>
    <label for="total_block" class="col-sm-offset-2 col-sm-4 control-label">{{input_tx_hash}}</label>
  </div>

  <h2>交易所信息</h2>
  <hr />
  <p>请确保交易所simplewallet服务已经开启!</p>
  <div class="form-group">
    <label for="yu_e" class="col-sm-2 control-label">交易所dnc钱包服务器:</label>
    <div class="col-sm-4">
      <input type="text" ng-model="ex_host" class="form-control" placeholder="域名或者IP+端口"/>
    </div>
  </div>
  <div class="form-group">
    <label for="total_block" class="col-sm-2 control-label">交易所当前余额:</label>
    <div class="col-sm-4">
      <input type="text" ng-model="ex_balance" class="form-control" readonly="true"/>
    </div>
    <button type="btn-primary" class="btn btn-primary" ng-click="getExBalance()" >查看</button>
  </div>

  <div class="form-group">
    <label for="total_block" class="col-sm-2 control-label">充值/提现记录:</label>
    <div class="col-sm-4">
      <button type="btn-primary" class="btn btn-primary" ng-click="getExLog()" >查看</button>
    </div>
    <div class="col-sm-offset-2 col-sm-8">
      <table width="100%" class="table table-bordered" style="table-layout:fixed;">
        <tr>
          <th width="10%">time</th>
          <th width="10%">uid</th>
          <th width="25%">address</th>
          <th width="25%">payment_id</th>
          <th width="9%">amount</th>
          <th width="21%">tx</th>
        </tr>
        <tr ng-repeat="ex in exchange_log">
          <td>{{ ex.time }}</td>
          <td>{{ ex.uid }}</td>
          <td style="WORD-WRAP: break-word">{{ ex.address }}</td>
          <td style="WORD-WRAP: break-word">{{ ex.payment_id }}</td>
          <td>{{ ex.amount }}</td>
          <td style="WORD-WRAP: break-word">{{ ex.tx }} </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="form-group">
    <label for="yu_e" class="col-sm-2 control-label">提现地址:</label>
    <div class="col-sm-4">
      <input type="text" ng-model="out_to_address" class="form-control"/>
    </div>
  </div>
  <div class="form-group">
    <label for="total_block" class="col-sm-2 control-label">提现金额:</label>
    <div class="col-sm-4">
      <input type="text" ng-model="out_amount" class="form-control"/>
    </div>
    <button type="btn-primary" class="btn btn-primary" ng-click="outPut()" >提现</button>
    <label for="total_block" class="col-sm-offset-2 col-sm-4 control-label">{{output_tx_hash}}</label>
  </div>
</form>
